* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-weight: bold;
  overflow-x: hidden;
  background: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.6s;
  z-index: 1000;
}

header.sticky {
  padding: 15px 100px;
}
header ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 70px;
  text-align: center;
  overflow: auto;
  transition: 0.5s;
  background: #008cba;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-100%);
}
header.active ul {
  opacity: 1;
  transform: translateY(-7%);
  top: 40px;
  padding: 180px;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  padding: 10px 10px;
  color: #fff;
  font-size: 1.9em;
  font-weight: 500px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s;
}
header ul li a.active,
header ul li a:hover {
  background: #3475ca;
  color: #fff;
  text-decoration: none;
}

.toggle {
  z-index: 10;
  left: -80px;
  top: 5px;
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 4px;
  width: 100%;
  height: 2px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 10px 0 #fff;
  transition: 0.5s;
}
.toggle:after {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 2px;
  background: #fff;
  z-index: 1;

  transition: 0.5s;
}
header.active .toggle:before {
  top: 14px;
  transform: rotate(45deg);
  box-shadow: 0 0 0 #fff;
}
header.active .toggle:after {
  bottom: 14px;
  transform: rotate(-45deg);
}

/* .head {
  width: 100%;
  height: 70px;
  background-color: #000;
  position: relative;
} */
.head header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;

  user-select: none;
}

/* .banner ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: middle;
  place-items: center;
  height: 100vh;
  z-index: -1;
} */

.spn {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 35%;
  right: 200px;
  background: #00ccff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.spn i {
  position: absolute;
  font-size: 4em;
  color: #fff;
  font-weight: 600;
}

.banner {
  padding: 100px;
  position: relative;
  min-height: 100vh;
  background: url(../images/bak.jpg);

  background-size: cover;
  background-position: right;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  color: #00ccff;
  font-weight: 900;
}

.banner h3 {
  position: absolute;
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.typx {
  color: #00ccff;
}

.banner a {
  position: absolute;
  background: #66a3ff;
  height: 60px;
  color: #fff;
  text-decoration: none;
  padding: 8px 30px;
  font-size: 2em;
  font-weight: 900;
  transition: 0.5s ease;
  letter-spacing: 2px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #66a3ff;
  bottom: 100px;
}
.banner a:hover {
  background: transparent;
  transition: 0.5s ease;
}

.about {
  padding: 0 100px;
  height: auto;
}
.about .heading {
  color: #fff;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 20px 0 30px;
  font-weight: 600;
}

.about .contenta {
  display: flex;
  justify-content: space-between;
}
.about .contenta .contentBx {
  position: relative;
  padding: 5px;
}
.about .contenta .contentBx1 {
  position: relative;
  padding: 5px;
}
.about .contenta .contentBx h3 {
  color: #66a3ff;
  font-size: 25px;
  margin-bottom: 18px;
  font-weight: 400;
}
.about .contenta .contentBx p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 18px;
  font-weight: 400;
}
.about .contenta .contentBx h4 {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
.about .contenta .contentBx ul {
  padding-top: 50px;
  list-style: none;
  margin: 30px;
  text-align: center;
}
.about .contenta .contentBx ul li {
  font-size: 20px;
  color: #fff;
  background: #008cba;
  padding: 10px;
  margin: 10px;
}
.w50 {
  min-width: 40%;
}
.about .contenta .contentBx1 {
  position: relative;
  padding: 50px;
}
.about .contenta .contentBx1 h4 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.about .contenta .contentBx1 ul {
  list-style: none;
  margin: 30px;
  text-align: center;
}
.about .contenta .contentBx1 ul li {
  font-size: 15px;
  color: #fff;
  border-bottom: 1px solid #00ccff;
  padding: 10px;
  margin: 5px;
}
.cakes {
  padding: 50px;
  background: #4d94ff;
  height: auto;
}
.cakes .heading {
  color: #fff;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 50px;
}
.cakes .content {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cakes .content .contentBx {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 0 30px 30px;
  padding: 5px;
  text-align: center;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.2),
    15px 15px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.cakes .content .contentBx:hover {
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2),
    5px 5px 3px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.cakes .content .contentBx .imgbot {
  height: 50%;
  width: 100%;
}
.cakes .content .contentBx .imgbot img {
  height: 100%;
  width: 100%;
}
.cakes .content .contentBx h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 900;
  padding: 10px 0;
}
.cakes .content .contentBx h4 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 900;
  padding: 10px 0;
  margin-bottom: 20px;
}
.cakes .content .contentBx a {
  position: absolute;
  font-size: 1.1rem;
  background-color: #fff;
  bottom: 20px;
  right: 65px;
  text-decoration: none;
  padding: 15px 20px;
  color: #008cba;
  font-weight: 900;
}
.cont {
  padding: 30px 100px;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.foot a {
  display: flex;
  background: #4d94ff;
  height: 60px;
  width: 60px;
  margin: 10px 15px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.15),
    -3px -3px 10px -1px rgba(255, 255, 255, 0.15),
    3px 3px 10px -1px rgba(0, 0, 0, 0.15),
    -3px -3px 10px -1px rgba(255, 255, 255, 0.15);
}
.foot a:hover {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.15),
    inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}

.foot a i {
  padding: 20px;
  font-size: 30px;
  color: #fff;
}
.msgl {
  margin: 0 auto;
  background: #66a3ff;
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 100px;
  left: 27%;
  border-radius: 20px;
  box-shadow: -15px 15px 10px rgba(0, 0, 0, 0.1),
    15px 15px 10px rgba(0, 0, 0, 0.1),
    inset 6px 6px 15px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 15px -1px rgba(255, 255, 255, 0.15),
    inset 6px 6px 15px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 15px -1px rgba(255, 255, 255, 0.15);
}
.msgl h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.msgl a {
  position: relative;
  background: #df4da2;
  color: #fff;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 1.2em;
  font-weight: 900;
  width: 200px;
  transition: 0.5s ease;
  letter-spacing: 2px;
  cursor: pointer;
}
@media (max-width: 700px) {
  header.active ul {
    opacity: 1;
    transform: translateY(-7%);
    top: 40px;
    padding: 10px;

    padding-top: 100px;
  }
  header ul li {
    position: relative;
    list-style: none;
  }
  body {
    overflow-x: hidden;
  }
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    top: 0;
    height: 100vh;
    background: #084783;
    transition: all 0.5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #111414;
    user-select: none;
  }
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    text-decoration: none;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    transition: 0.5s;
  }
  ul li:hover a {
    padding-left: 50px;
    transition: 0.3s;
    text-decoration: none;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }

  #check {
    display: none;
    position: fixed;
  }
  label #btn,
  label #cancel {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    z-index: 10000;
  }
  label #btn {
    left: 40px;
    top: 10px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  label #cancel {
    z-index: 1111;
    left: -195px;
    top: 16px;
    font-size: 30px;
    color: #fff;
    padding: 4px 9px;

    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 195px;
  }
  .fixx {
    position: fixed;
    width: 0%;
    height: 0vh;
    z-index: 10000;
  }
  .fix2 {
    position: fixed;
  }
  .banner {
    padding: 100px 50px;
    overflow: hidden;
  }
  .banner h2 {
    font-size: 1.5em;
  }

  .banner h2 span {
    font-size: 1em;
    color: #00ccff;
    font-weight: 900;
  }

  .banner h3 {
    font-size: 1.3em;
  }

  .banner a {
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 1.3em;
  }
  .banner a:hover {
    background: transparent;
    transition: 0.5s ease;
  }
  .spn {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 35%;
    right: 50px;
    background: #00ccff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .spn i {
    font-size: 2em;
  }

  .about {
    padding: 40px;
  }
  .about .heading {
    font-size: 1.4rem;
  }

  .about .contenta {
    flex-wrap: wrap;
  }

  .about .contenta .contentBx h3 {
    font-size: 25px;
  }
  .about .contenta .contentBx p {
    font-size: 15px;
  }
  .about .contenta .contentBx h4 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .about .contenta .contentBx ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  .about .contenta .contentBx ul li {
    padding: 20px;
  }

  .about .contenta .contentBx1 {
    margin-top: 20px;
    position: relative;
    padding: 10px;
  }
  .about .contenta .contentBx1 h3 {
    font-size: 25px;
  }
  .about .contenta .contentBx1 p {
    font-size: 15px;
  }
  .about .contenta .contentBx1 h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  .about .contenta .contentBx1 ul {
    list-style: none;
    margin: 20px;
    text-align: center;
  }
  .cakes {
    padding: 20px;
  }

  .cakes .heading {
    font-size: 1.5rem;
  }
  .cakes .content .contentBx h2 {
    font-size: 1.4rem;
  }
  .cakes .content .contentBx p {
    font-size: 1.1rem;
    margin: 40px 0;
    color: #fff;
    font-weight: 500;
  }
  .cont {
    padding: 30px;
  }
  .foot a {
    height: 40px;
    width: 40px;
    margin: 20px 10px;
  }

  .foot a i {
    padding: 10px;
    font-size: 20px;
  }
  .msgl {
    padding: 10px;
    width: 80%;
    left: 10%;
  }
  .msgl h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .msgl a {
    padding: 8px 10px;
    font-size: 0.8em;
  }
}
